body{
	margin:0;
	padding:0;
	background:url(images/header_bg.png)repeat-x;
	font-size:12px;
	color:#333;
}


#header{
	width:900px;
	height:30px;
	margin:0 auto;
	
}
.logo{
	width:100px;
	height:30px;
	float:left;
}
.logo img{
	display:block;
}
.member{
	width:100px;
	height:30px;
	float:right;
	line-height:30px;	
	background:red url(images/arrow.png)no-repeat 75px center;
	cursor:pointer;
	position:relative;
}

#header ul{
	position:absolute;
	top:30px;
	left:0px;
	width:100px;
	height:110px;
	border:1px solid#999;
	border-top:none;
	padding:10px 0 0 0;
	display:none;
	padding:0;
	margin:0;
	background:#FBF7E1;
	
}

dl,dd,h2{
	padding:0;
	margin:0;
}




ul li{
	list-style-type:none;
}



#header ul li{
	height:25px;
	line-height:25px;
	text-indent:20px;

	
}
#header ul li a{
	display:block;
	text-decoration:none;
	color:#333;
	background:url(images/arrow3.gif)no-repeat left 45%;
	
}
#header ul li a:hover{
	background:#fc0 url(images/arrow4.gif)no-repeat left 45%;
	
}

#header div.reg,#header div.login{
	
	float:right;
	width:35px;
	height:30px;
	line-height:30px;
	background:pink;
	cursor:pointer;
	
	
}
#screen {
	position:absolute;
	top:0;
	left:0;
	background:#000;
	z-index:9998;
	opacity:0.3;
	display:none;
}

#login{
	width :350px;
	height:250px;
	border:3px solid gray;
	position:absolute;
	display:none;
	z-index:9999;
	background:#fff;
	
	
}

#login h2{
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png)repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
	cursor:move;
	
	

}
#login h2 img{
	float:right;
	position:relative;
	top:3px;
	right:3px;
	cursor:pointer;
}

#reg{
	width :600px;
	height:550px;
	border:3px solid gray;
	position:absolute;
	display:none;
	z-index:9999;
	background:#fff;
	
}

#reg h2{
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png)repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
	cursor:move;
	
	

}
#reg h2 img{
	float:right;
	position:relative;
	top:3px;
	right:3px;
	cursor:pointer;
}
#reg dl{
	font-size:14px;
	color:#666;
	margin:20px;
	padding:0 0 0 10px;
	
}

#reg dl dd{
	height:30px;
	padding:5px 0;
	
}

#reg dl dd input.text ,#reg dl dd select{
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
	color:#999;
}

#reg dl dd.birthday select{
	width:100px;
}

#reg dl dd textarea{
	width:350px;
	height:100px;
	background:#fff;
	border:1px solid #ccc;
}

#reg dl dd input{
	width:143px;
	height:33px;
	background:url(images/reg.jpg)no-repeat;
	cursor:pointer;
	
}



#login div.user ,#login div.pass{
	font-size:14px;
	color:#666;
	padding:10px 0;
	text-align:center;
}


#login input.text{
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
	
}

#login div.button{
	text-align:center;
	padding:15px 0;
	
	
	
}

#login input.submit{
	width:107px;
	height:30px;
	background:url(images/login_button.png)no-repeat;
	cursor:pointer;
	
	
}
#login div.other{
	float:right;
	padding:10px 5px;
	color:#666;
	
}

#main{
	background:#888;
	float:left;
	height:570px;
	width:300px;
	border:2px solid green;	
	margin-left:70px;
	margin-top:40px;
}
#index{
	width:830px;
	height:570px;
	background:yellow;
	border:2px solid blue;
	float:left;
	margin-left:40px;
	margin-top:40px;
	
}
#banner{
	width:1178px;
	height:150;
	float:left;
	background:red;
	margin-left:70px;
	margin-top:20px;
	position:relative;
		
}

#banner img{
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	
	width:1178px;
	height:150;
}


#banner ul{
	position:absolute;
	top:100px;
	left:530px;
	padding:0 5px;
	z-index:4
}
#banner ul li{
	float:left;
	font-size:30px;
	cursor:pointer;
	color:grey;
	
}
#banner span{
	width:1178px;
	height:25px;
	position:absolute;
	top:125px;
	left:0;
	background:#333;
	opacity:0.3;
	z-index:3;
}
#banner strong{
	position:absolute;
	top:128px;
	left:10px;
	color:#fff;
	z-index:4;
	background:pink;
}



/*三个盒子的自适应div*/
#zsy{
	width:1300;	
}









